{% include 'WEBSITE/Master_data/atas.html' %}
{% include 'WEBSITE/Master_data/sub.html' %}  
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">
          <img src="/static/icon/keranjang.png" style="width: 60px">
        PENGECEKAN ATAU CHECK PENYETORAN BANK SAMPAH</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">
              <img src="/static/icon/anchor.png">

            </button>
            
          </div>
        </div>
      </div>

      <h4>
        <img src="/static/Images/nasabah.png" style="width: 50px;">
      LIST DATA PENYETORAN BANK SAMPAH PARA NASABAH</h4><hr>
      <div class="table-responsive">
        <table id="example" class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <th>No</th>
                    <th>Kode Setor</th>
                    <th>Nama Setor</th>
                    <th>Jenis Sampah</th>
                    <th>Nama Nasabah</th>
                    <th>Telp/WA</th>
                    <th>Alamat</th>
                    <th>Berat</th>
                    <th>Harga</th>
                    <th>Total</th>
                    <th>Tanggal</th>
                  </tr>
                </thead>
                <tbody>
          {% for tampil in data %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>{{tampil.kode_setor}}</td>
              <td>{{tampil.nama_setor}}</td>
              <td>{{tampil.jenis_sampah}}</td>
              <td>{{tampil.nama_nasabah}}</td>
              <td>{{tampil.telp}}</td>
              <td>{{tampil.alamat}}</td>
              <td>{{tampil.berat}}</td>
              <td>{{tampil.harga}}</td>
              <td>{{tampil.total}}</td>
              <td>{{tampil.tanggal}}</td>

            </tr>
            {% endfor %}
                </tbody>
              </table>

      </div>
    </main>
  </div>
</div>
{% include 'WEBSITE/Master_data/bawah.html' %}